.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}


.container {
  padding: 0 !important;
}
.page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.toolbars {
  width: 300px;
  gap: 10px;
  transition: all 0.5s ease-in-out;
  justify-content: start;
  /* background-color: grey; */
  /* justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(5, 57px);
  grid-column-gap: 0px;
  overflow: hidden;
  grid-row-gap: 0px;
}

.toolbars-hidden {
  width: 50px;
  margin-top: 10px;
  height: 100%;
  gap: 10px;
  display: flex;
  justify-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
}

.toolbars-button {
  height: 40px;
  width: 40px;
  z-index: 2000;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.48, 0.17, 0.11, 1.16);
  margin-left: -3px;
}



.first {
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 10px;
}

.seconds {
  grid-area: 2 / 1 / 3 / 2;
}

.toolbars-button:hover {
  transform: scale(1.15);
}

.text {
  width: 70%;
  display: flex;
}

.file-container {
  display: flex;
  grid-area: 1 / 2 / 6 / 5;
}

.file-container-hidden {
  opacity: 0;
}

.file-explorer {
  width: 100%;
  display: grid;
  /* grid-auto-rows: 25px; */
  text-align: start;
  height: 100%;
  align-content: start;
}

.file-name {
  display: grid;
  /* height: 24px; */
}

.icons {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.para {
  margin-block-start: 3px;
  margin-block-end: 3px;
}

.file-name:hover {
  pointer-events: stroke;
}

.unwrapped-file-name {
  margin-left: 10px;
  display: flex;
}

.file-icons {
  height: 16px;
  width: 16px;
  align-self: center;
  padding-right: 5px;
}

.file-name-inline {
  display: flex;
}


@font-face {
  font-family: 'SFMonoRegular';
  src: url('./assets/SFMonoRegular.woff') format('woff');
}

.area {
  resize: none;
  font-size: 0.8rem;
  tab-size: 4;
  color: white;
  background-color: color(srgb 0.0997 0.0899 0.1326);
  border: none;
  font-family: 'SFMonoRegular';
}

textarea:focus {
  outline: none;
  white-space: pre-wrap;
  overflow-x: auto;
}

.line-numbers {
  font-size: 0.8rem;
  padding-right: 10px;
  background-color: color(srgb 0.0997 0.0899 0.1326);
  padding-left: 10px;
}

.line-number {
  line-height: 21px;
  font-size: 0.8rem;
  font-weight: 600;
  color: grey;
  opacity: 0.8;
  height: 0.8rem;
  padding-bottom: 0.14rem;
}

.mirror-view {
  font-size: 0.4rem;
  text-align: start;
  align-self: start;
  white-space: pre;
  position: sticky;
}
